@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 1.5rem 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0 0 10px 0 #d4a841;
    background-color: white;
}
.nav-tags a{
    padding: 5px 5px;
    margin: 0 10px;
    color: black;
    font-size: 15px;
    transition: all 0.5s;
}
.nav-tags a:hover{
    color: #d4a841;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    padding: 10rem 9% 2rem;
}
.scl-sch{
    height: 400px;
    width: 800px;
    border: 2px solid #d4a841;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 50px 80px 100px;
}
.grid{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px
}
.title{
    grid-column: span 2;
    border-bottom: 2px solid black;
    font-size: 20px;
    background-color: #d4a841;
}
.btn1{
    grid-column: span 2;
    text-align: center;
}
#form0 .btn1{
    grid-column: span 1;
    text-align: center;
}
.btn{
    padding: 15px;
    border: 2px solid #d4a841;
    border-radius: 30px;
    width: 150px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.5s;
}
#form0 .btn{
    font-size: 15px;
}
.btn:hover{
    background-color: #d4a841;
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(9, 0, 0, 0.3);
}
.labels{
    color: black;
    font-size: 14px;
}
.grid input{
    width: 100%;
    border: none;
    border-bottom: 2px solid black;
}
.schools{
    width: 100%;
    border: none;
    border-bottom: 2px solid black;
}
.events{
    border: none;
    border-bottom: 2px solid black;
}
input:active{
    border:none;
}
.grid-container{
    height: 400px;
    width: 800px;
    border: 2px solid #d4a841;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.grid1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px
}
.form-title{
    grid-column: span 2;
    border-bottom: 2px solid black;
    font-size: 20px;
    background-color: #d4a841;
}
.form-labels{
    color: black;
    font-size: 14px;
}
.form-inputs input{
    width: 100%;
    border: none;
    border-bottom: 2px solid black;
    font-size: 13px;
}
.ddy p{
    padding: 0 10px;
}
.btn1 button{
    padding: 15px;
    border: 2px solid #d4a841;
    background-color: white;
    border-radius: 30px;
    width: 150px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.5s;
}
.btn1 button:hover{
    cursor: pointer;
    background-color: #d4a841;
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(9, 0, 0, 0.3);
}
#form1,
#form2,
#form3,
#form4{
    display: none;
    position: absolute;
    transform: scale(1.10);
    background-color: white; 
    transition: all 1s;
}